                /*Begin of the first modal*/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal-img01 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content-img01 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content-img01, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media (max-width: 1025px){
  .imgContent {
    width: 50%;
    margin-left:25%;
  }
  .modal-img01{
    width: 75%;
  }
}
      /*The end of the first modal*/

      /*Begin the second ferrous modal*/



#myImg02, #myImg06, #myImg07, #myImg08, #myImg09, #myImg10, #myImg11, #myImg12, #myImg13{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg02:hover, #myImg06:hover, #myImg07:hover, #myImg08:hover, #myImg09:hover, #myImg10:hover,#myImg11:hover, #myImg12:hover,#myImg13:hover{
  opacity: 0.7;
}

/* The Modal (background) */
.modal-img02, .modal-img06, .modal-img07, .modal-img08, .modal-img09, .modal-img10, .modal-img11, .modal-img12, .modal-img13{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content-img02, .modal-content-img06, .modal-content-img07, .modal-content-img08,.modal-content-img09, .modal-content-img10, .modal-content-img11, .modal-content-img12, .modal-content-img13{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption02, #caption06, #caption07, #caption08, #caption09, #caption10, #caption11, #caption12, #caption13{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content-img02, #caption02, .modal-content-img06, #caption06, .modal-content-img07, #caption07, .modal-content-img08, #caption08, .modal-content-img09, #caption09, .modal-content-img10, #caption10, .modal-content-img11, #caption11, .modal-content-img12, #caption12, .modal-content-img13, #caption13{  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close02, .close06, .close07, .close08, .close09, .close10, .close11, .close12, .close13 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close02:hover, .close02:focus, .close06:hover, .close06:focus, .close07:hover, .close07:focus, .close08:hover,.close08:focus, .close09:hover, .close09:focus, .close10:hover,.close10:focus, .close11:hover, .close11:focus, .close12:hover,.close12:focus, .close13:hover, .close13:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media (max-width: 1025px){
  .modal-content-img02, .modal-content-img06, .modal-content-img07, .modal-content-img08,.modal-content-img09, .modal-content-img10, .modal-content-img11, .modal-content-img12, .modal-content-img13{
    width: 50%;
    
  }
  .modal-img02, .modal-img06, .modal-img07, .modal-img08, .modal-img09, .modal-img10, .modal-img11, .modal-img12, .modal-img13{
    width: 75%;
  }
}
      /*The end of the second modal*/


      /*Begin the 03 ferrous modal*/



      #myImg03{
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      #myImg03:hover {opacity: 0.7;}
      
      /* The Modal (background) */
      .modal-img03{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      }
      
      /* Modal Content (image) */
      .modal-content-img03 {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
      }
      
      /* Caption of Modal Image */
      #caption03 {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
      }
      
      /* Add Animation */
      .modal-content-img03, #caption03 {  
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
      }
      
      @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
      }
      
      /* The Close Button */
      .close03 {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .close03:hover,
      .close03:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
      
      /* 100% Image Width on Smaller Screens */
      @media (max-width: 1025px){
        .modal-content-img03 {
          width: 50%;
          margin-left:25%;
        }
        .modal-img03{
          width: 75%;
        }
      }
            /*The end of the 03 modal*/


      /*Begin the 04 ferrous modal*/



      #myImg04{
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      #myImg04:hover {opacity: 0.7;}
      
      /* The Modal (background) */
      .modal-img04{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      }
      
      /* Modal Content (image) */
      .modal-content-img04 {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
      }
      
      /* Caption of Modal Image */
      #caption04 {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
      }
      
      /* Add Animation */
      .modal-content-img04, #caption04 {  
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
      }
      
      @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
      }
      
      /* The Close Button */
      .close04 {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .close04:hover,
      .close04:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
      
      /* 100% Image Width on Smaller Screens */
      @media (max-width: 1025px){
        .modal-content-img04 {
          width: 50%;
          margin-left:25%;
        }
        .modal-img04{
          width: 75%;
        }
      }
            /*The end of the 04 modal*/


      /*Begin the 05 ferrous modal*/



#myImg05{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg05:hover {opacity: 0.7;}

/* The Modal (background) */
.modal-img05{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content-img05 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption05 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content-img05, #caption05 {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close05 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close05:hover,
.close05:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media (max-width: 1025px){
  .modal-content-img05 {
    width: 50%;
    margin-left:25%;
  }
  .modal-img05{
    width: 75%;
  }
}
            /*The end of the 05 modal*/












